ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

td {
    padding: 5px;
}
#table {
    background-color: yellow;
}

#navbar, .Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p, .institutionAction {
    font-size: 1.5em;
}

input:submit {
    margin-left: 40%;
    width: 200px;
}

h4, p, h2 {
    text-align: center;
    padding-top: 25px;
}
#homepage {
    width: 50%;
    margin: auto;
    font-size: 1.1em;
    text-align: justify;
    margin-top: 10px;
}

form {
    width: 50%;
    margin: auto;
}

header {
    text-align: center;
    font-size: 2em;
    margin-top: 5%;

}

footer {
    margin: auto;
    height:30px;
    width:100%;
    background-color:#eee;
    text-align:center;
    padding:5px;
    color: black;
}
