body {
  margin: auto;
  background-image: url(stadxxx.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

header {
    background-color: rgba(235,90,91,0.5);
    position: absolute;
    margin: 0;
    top: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 3em;
    height: 150px;
    width: 100%;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    transition: 2s;
    -webkit-transition: 2s;
    color: #f1f2f2;
    font-family: 'Gloria Hallelujah';
}
#navbar ul li a.logoutButton {
    color: #f1f2f2;
    background-color: rgba(235,90,91,0.9);
    font-weight: bold;
    padding: 4px;
    text-shadow: 1px 1px 2px #000000;
    text-decoration: none;
}

#navbar ul li a.logout:hover {
    color: #f1f2f2;
    background-color: black;
    font-weight: bold;
    padding: 4px;
    text-shadow: 1px 1px 2px #000000;
    text-decoration: none;
}

#navbar {
    padding: 150px 33% 0 38%;
 }

#navbar ul li a.current {
    background-color: #f1f2f2;
}

#navbar ul li a {
    color: black;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(241,242,242,0.7);
}

td #level {
    float: left;
    text-align: left;
}

td.type {
    float: left;
    text-align: left;
}

td {
    padding: 5px;
    font-size: 1.1em;
    vertical-align: middle;
    text-align: center;
}

th {
    text-align: center;
}

#showInfo, #showIcons {
    font-size: 2em;
}

#table {
    background-color: rgba(241,242,242,0.7);
}

#logoNote {
    font-size: 0.7em;
    color: #eb5a5b;
}

.sportslabel {
    text-align: center;
    font-size: 2em;
    color: #eb5a5b;
}

#sports {
    font-size: 1.1em;
    columns: 4;
    padding: 2px;
    background-color: rgba(241,242,242,0.7);
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

.Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cellId {
  font-size: 1.5em;
  width: 20px;
}

#cellIcons, #cellLogo {
    font-size: 1.5em;
    width: 100px;
}

#cellCollege {
    font-size: 1.5em;
    width: 200px;
}

#cellLevel, #cellType {
    font-size: 1.5em;
    width: 100px;
}

#cellSports {
    font-size: 1.5em;
    width: 300px;
}

p, h2 {
    text-align: center;
    padding: 10px;
}

h4 {
    text-align: center;
    padding-top: 25px;
    font-size: 2em;
    color: #eb5a5b;
}
#homepage {
    width: 50%;
    margin: auto;
    font-size: 1.1em;
    text-align: justify;
    margin-top: 10px;
}

form {
    width: 70%;
    margin: auto;
}

.message {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    padding:5px;
    text-align:center;
    font-size:18px;
    background-color:yellow;
}

.error {
    margin-top:10px;
}

.error ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

input[type="submit"] {
    background-color: #f1f2f2;
    color: #414042;
    margin: auto;
    display: block;
    width: 20%;
    font-size: 1.5em;
    padding: 10px 0px;
}

input[type="submit"]:hover {
    background-color: #eb5a5b;
}

#deleteButton {
    width: 40%;
    margin-bottom: 20px;
}

footer {
    margin: auto;
    display: block;
    height:60px;
    width:100%;
    background-color:#f1f2f2;
    text-align:center;
    padding:15px;
    color: #eb5a5b;
}
